

/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	width: 100%;
	color: inherit;
	background: none;
	cursor: pointer;
	/*padding: 25px 60px;*/
	display: block;
	margin-bottom: 2em;
	border-radius: 3.5em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before,
.btn span.hidden-text,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
	font-family: 'FontAwesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}


/* Button 5 */
.btn-5 {
	background: #98c593;
	color: #fff;
	height: 3.5em;
	min-width: 250px;
	line-height: 3.5em;
	/*font-size: 16px;*/
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.btn-5 a{
	color: #ffffff;
}
.btn-5:hover {
	background-color: #a8d5a3;
}

.btn-5 span.primary-text {
	line-height: 3.5em;
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
}

.btn-5 span.hidden-text {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 3.5em;
	font-size: 100%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-5:active:before {
	color: #703b87;
}

/* Button 5a */
.btn-5a.on span.primary-text {
	-webkit-transform: translateY(300%);
	-moz-transform: translateY(300%);
	-ms-transform: translateY(300%);
	transform: translateY(300%);
}

.btn-5a span.hidden-text {
	left: 0;
	top: -100%;
}

.btn-5a.on span.hidden-text {
	top: 0;
}

/* Button 5b */
.btn-5b:hover span {
	-webkit-transform: translateX(200%);
	-moz-transform: translateX(200%);
	-ms-transform: translateX(200%);
	transform: translateX(200%);
}

.btn-5b:before {
	left: -100%;
	top: 0;
}

.btn-5b:hover:before {
	left: 0;
}
